@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

/* Основные стили */

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: rgba(130, 179, 211, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
}

.reset-list {
  list-style-type: none;
  padding-left: 0;
}

/* Стили для header */

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.link-button {
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.favourites-number {
  font-size: 10px;
  line-height: 10px;
  background-color:rgba(125, 181, 79, 1);
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
}

/* Стили для footer */

.subscription-button {
  font-size: 20px;
  line-height: 36px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

/* Стили для главной страницы */

/* hero */

.hero {
  background-image: url(../images/bord.svg), url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: contain, cover;
  background-color: rgba(125, 181, 79, 1);
}

/* advantages */

.tagline {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.tagline-small {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.description {
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}

.advantages-item,
.services-item
{
  background-color:rgba(131, 179, 211, 0.12);
}

.background-bright {
  background-color: rgba(130, 179, 211, 1);
  color:rgba(255, 255, 255, 1);
}

.background-bright .description {
  color:rgba(255, 255, 255, 1);
}

.background-light {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-list:nth-child(2n) {
  background-color: rgba(255, 255, 255, 1);
}

/* search */

.search-link {
  font-size: 20px;
  line-height: 36px;
}

/* footer */

.index-subscription {
  background-image: url(../images/subscribe.jpg);
  background-color: rgba(130, 179, 211, 1);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Стили для каталога */

/* inner-filter */

.inner-page-filter {
  background-image: url(../images/filter-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(130, 179, 211, 1);
  color:rgba(255, 255, 255, 1);
}

.reset-button {
  background-color: transparent;
}

.fieldset {
  border: 0;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  line-height: 23px;
}

/* catalog-hotels */

/* hotels-cards-list */

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.raiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgba(242, 242, 242, 1);
}

.button-active {
  background-color:rgba(125, 181, 79, 1);
}
.pagination-link {
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.pagination-current {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.pagination-link-ellipsis {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}
